body {
	font-family: sans-serif;
}
.hidden {
	display: none;
}
ul.registered {
	list-style-type: none;
}
ul.registered .item {
}
.item .name {
	padding: 10px;
	margin: 0;
}
.item.selected .name {
	background-color: #FE9A2E;
	color: #fff;
	/* border: #000 1px solid; */
}
.item .name:hover {
	cursor: pointer;
	background-color: #FE9A2E;
	color: #fff;
}
.item .data {
	margin: 20px;
}
.item.selected {
	border: #000 1px solid;
}
.item .description {
	margin: 20px;
}